target/
logs/
!.mvn/wrapper/maven-wrapper.jar
!*/src/main/*
!*/src/test/*
logs
logs/
log
log/
*.pem

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
### ETCD ###
default.etcd
/logs/spring-boot-logging.log
/.metadata/
*.class
